@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F5EEEB
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  white-space: pre-line; /* React에서 줄바꿈 인식하게 하는 코드, 연속 공백 유지하려면 pre-wrap 사용해도 된다. */
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

.container {
  max-width: 82vw;
  height: 95vh;
  margin-left: 247px;
  margin-top: 16px;
  margin-right: 15px;
  margin-bottom: 18px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
  background: linear-gradient(to right, #d4b5a7, #D6BCB0, white,  white, white, white);
  text-decoration: none;
  border-radius: 60px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  max-width: 32px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.button:hover {
  max-width: 300px;
}

.button2 {
  background: #d4b5a7;
  text-decoration: none;
  border-radius: 60px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  max-width: 32px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.button2:hover {
  max-width: 300px;
}

.icon {
  font-size: 30px;
  margin-right: 14px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-left: 6px;
  display: flex;
  align-items: center;
}

.text {
  white-space: normal;
}


.btn-hover {
    width: 97%;
    height: auto;
    cursor: pointer;
    margin: 20px;
    margin-left: 17px;
    text-align:left;
    border: none;
    border-radius: 40px;

    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #f5eeebe7, #ebe2de, #e1d6d1, #f5eeebe0);
}


.post-box {
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0;
  padding-right: 0;
  height: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.3s;
  display: inline-block;
  margin-left: 0.125rem;
  margin-right: 0.25rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border-radius: 1rem;
  align-items: baseline;
  background-color: #EEE1DC;
  color: #444444;
  display: flex;
  
}

.post-box-after {
  visibility: hidden;
  margin-right: 0.4rem;
}

.post-box:hover .post-box-after {
  visibility: hidden;
}

.post-box:hover {
  white-space: normal;
  overflow: visible;
}

.post-box:hover::after {
  content: '...';
  visibility: hidden;
}

.post-box:hover .hidden {
  display: none;
}